@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #E2B808;
    --secondary-color: #ffffff;
    --primary-text-color: #000000; 
    --secondary-text-color: #E2B808;
    --background-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: var(--background-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}

header .navigation-bar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
}

.navigation-bar .logo img {
    width: 120px;
    height: auto;
}

.navigation-bar .menu-links {
    display: flex;
    gap: 40px;
}

.navigation-bar ul {
    list-style-type: none;
}

.navigation-bar a {
    color: var(--primary-text-color);
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease;
}

.navigation-bar a:hover {
    color: var(--primary-color);
}

.first-section, .third-section, .fourth-section {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 20px;
}

.first-section .container-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}

.first-section .content {
    padding-top: 50px;
}

.first-section .content h1 {
    font-size: 3.5rem;
    max-width: 700px;
}

.first-section .content p {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
    max-width: 600px;
}

.first-section .content button {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--background-color);
    padding: 12px 30px;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.5s ease;
}

.first-section .content button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.first-section .sign-in-content {
    background-color: var(--secondary-color);
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.first-section .sign-in-content h1 {
    margin-bottom: 30px;
    text-align: center;
}

.first-section .sign-in-content form {
    display: flex;
    flex-direction: column;
}

.first-section .sign-in-content form .sign-in-form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.first-section .sign-in-content form label {
    font-weight: 500;
}

.first-section .sign-in-content form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.first-section .sign-in-content form button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease;
}

.first-section .sign-in-content form button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.second-section {
    height: 20vh;
}

.second-section .container-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.second-section .content h1 {
    font-size: 2.5rem;
}

.second-section  .content p {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
}

.third-section {
    height: 80vh;
}

.third-section .container-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.third-section .content h1 {
    font-size: 2.5rem;
}

.third-section  .content p {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
}

.fourth-section {
    height: 80vh;
}

.fourth-section .container-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.fourth-section .content h1 {
    font-size: 2.5rem;
}

.fourth-section  .content p {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
}

.fifth-section {
    height: 50vh;
}

.fifth-section .container-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.fifth-section .content h1 {
    font-size: 2.5rem;
}

.fifth-section  .content p {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
}

#menu-button {
    color: var(--primary-color);
    cursor: pointer;
    display: none;
}

#close-menu-button {
    display: none;
    color: var(--primary-color);
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #menu-button, #close-menu-button {
        display: block;
    }

    .navigation-bar {
        padding: 0 20px;
    }

    .navigation-bar .menu-links {
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 250px;
        height: 100vh;
        padding: 50px 50px;
        background-color: var(--background-color);
        transition:  left 0.5s ease;
    }

    header.show-mobile-menu .navigation-bar .menu-links {
        left: 0;
    }

    .navigation-bar a {
        color: var(--primary-text-color);
    }

    .first-section .container-content {
        flex-direction: column;
        align-items: center;
    }
    
    .first-section .content {
        text-align: center;
        top: -50px;
    }

    .first-section .content h1 {
        font-size: 3rem;
    }

    .first-section .content p {
        margin: 20px auto;
    }

    .first-section .content button {
        display: none;
    }

    .first-section .container-content .sign-in-content {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .first-section .content h1 {
        font-size: 2.5rem;
    }
}
